<footer class="bg-dark">

    <div>
    <h1 class="primary-logo">B</h1>
    (c) Vojtofson, všechna práva vyhrazena
    </div>
    <div>

    <ul>
        <li>Domů</li>
        <li>Cestopisy</li>
        <li>Cestotipy</li>
        <li>O nás</li>
    </ul>
    </div>

    <div>
        <h3>Země, které jsme navštívili</h3>
        <ul>
            <li>Asie</li>
            <li>Evropa</li>
            <li>Severní Amerika</li>
        </ul>
    </div>
</footer>

<footer>

    <div class="container">

      <div class="wrapper">

        <a href="#" class="footer-logo">
            <h1 class="primary-logo">B</h1>
        </a>

        <p class="footer-text">
          Learn about Web accessibility, Web performance, and Database management.
        </p>

      </div>

      <div class="wrapper">

        <p class="footer-title">Quick Links</p>

        <ul>

          <li>
            <a href="#" class="footer-link">Cestopisy</a>
          </li>

          <li>
            <a href="#" class="footer-link">Cestotipy</a>
          </li>

          <li>
            <a href="#" class="footer-link">O nás</a>
          </li>

        </ul>

      </div>

      <div class="wrapper">

        <p class="footer-title">Kde už jsme byli</p>

        <ul>

          <li>
            <a href="#" class="footer-link">Amerika</a>
          </li>

          <li>
            <a href="#" class="footer-link">Asie</a>
          </li>

          <li>
            <a href="#" class="footer-link">Evropa</a>
          </li>

        </ul>

      </div>

    </div>

  </footer>