<footer>

    <div class="container">
      <div class="wrapper">
        <a href="#" class="footer-logo">
            <h1 class="primary-logo">B</h1>
        </a>

        <p class="footer-text">
          Vypravte se do světa dvou broučků, za dobrodružstvím, dobrým jídlem, kočičkami!
        </p>

      </div>

      <div class="wrapper">

        <p class="footer-title">Kategorie</p>

        <ul>

          <li>
            <a href="#" class="footer-link">Cestopisy</a>
          </li>

          <li>
            <a href="#" class="footer-link">Cestotipy</a>
          </li>

          <li>
            <a href="#" class="footer-link">O nás</a>
          </li>

        </ul>

      </div>

      <div class="wrapper">

        <p class="footer-title">Kde už jsme byli</p>

        <ul>

          <li>
            <a href="#" class="footer-link">Amerika</a>
          </li>

          <li>
            <a href="#" class="footer-link">Asie</a>
          </li>

          <li>
            <a href="#" class="footer-link">Evropa</a>
          </li>

        </ul>

      </div>

    </div>

  </footer>