<header class="no-decoration">
    <nav = class="container primary-navigation">
        <a href="https://brouckopisy.netlify.app/" class="primary-logo">B<span class="logo-text">roučkopisy</span></a>
        <p class="motto"><a href="#begin"> {{ motto }} </a></p>
        <ul class="nav-links">
            <li><a href="\tags\cestopis\">Cestopisy</a></li>
            <li><a href="#">Série</a></li>
            <li><a href="\#about">O nás</a></li>
        </ul>
    </nav>
  </nav>
</header>
