---
layout: 'article-list.njk'
---
<div class="bg-secondary">
    <section class="post">
        <div class="container one-column bg-primary">
             <div class="text">
    
                <div class="wrapper">
                    <p class="post-date">{{ post.date | postDate }}</p>
                    <button class="blog-topic">{{ topic }}</button>
                </div>
                
                <div class="post-head">
                    <div class="title-wrapper">
                        <H1 class="post-series">{{ series }}</h1>
                        <div class="spacer"></div>
                        <h1>{{ title }}</H1>
                    </div>
                </div>
            
                <div class="post-content">
                    {{ content | safe }}
                </div>

                <div class="tag-cloud margin-top">
                    <ul>
                        <li><a href="#">Kostarika</a></li>
                        <li><a href="#">Střední Amerika</a></li>
                        <li><a href="#">2020</a></li>
                    </ul>
                </div>
            </div>
        </div>

</section>
  
  <!MAPA>
    <section class="post-map">
        <div class="container one-column">
            <div class="map-title text-center">
                <h1>Odkud, kudy a kam?</h1>
                <p>Jedna mapa za tisíc slov!</p>
                <iframe class="map" src="{{ map }}"></iframe>
            </div>
        </div>
    </section>
</div>