---
layout: 'base.njk'
---
<div class="bg-secondary">
    <section class="post">
        <div class="container one-column bg-primary">
             <div class="text">
    
                <div class="wrapper">
                    <p class="post-date">{{ page.date | postDate }}</p>
                    <a href="\tags\{{ category }}\"><button class="blog-topic">{{ topic }}</button></a>
                </div>
                
                <div class="post-head">
                    <div class="title-wrapper">
                        <H1 class="post-series">{{ series }}</h1>
                        <div class="spacer"></div>
                        <h1>{{ title }}</H1>
                    </div>
                </div>
            
                <div class="post-content">
                    {{ content | safe }}
                </div>

</section>
  
  <!MAPA>
  {% if map %}
    <section class="post-map">
        <div class="container one-column">
            <div class="map-title text-center">
                <h1>Odkud, kudy a kam?</h1>
                <p>Jedna mapa za tisíc slov!</p>
            </div>
            
            <iframe class="map" src="{{ map }}"></iframe>
        </div>
    </section>
    {% endif %}
</div>
