<div class="tags">

        <h2 class="h2">Tagy</h2>

        <div class="wrapper">


        {% for post in collections}

          <button class="hashtag">#Tag</button>
          <button class="hashtag">#Taky Tag</button>
          <button class="hashtag">#Hele taky tag</button>
          <button class="hashtag">#Dlouhatánckej tag</button>
          <button class="hashtag">#Toto není tag</button>
          <button class="hashtag">#Ledaze by to tag byl</button>
          <button class="hashtag">#Tagatag</button>
          <button class="hashtag">#Tag Tagit Tag</button>

        </div>

      </div>