

.title-container{
    display: flex;
    flex-basis:1;
    align-items: center;
    justify-content: right;
    gap:min(3rem);
}

.tag-cloud ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.tag-cloud ul li {
	display: inline-block;
	margin: 0 .3em .3em 0;
	padding: 0;
}
.tag-cloud ul li a {
	display: inline-block;
	height: 28px;
	line-height: 28px;
	padding: 0 1em;
	background-color: #fff;
	border: 1px solid #aaa;
	border-radius: 3px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	color: #333;
	font-size: 13px;
	text-decoration: none;
	-webkit-transition: .2s;
	transition: .2s;
}
.tag-cloud ul li a:hover {
	background-color: var(--clr-primary);
	border: 1px solid var(--clr-primary);
	color: var(--clr-secondary);
}