---
layout: 'post.njk'
title: 'Nejkratší přestup v dějinách'
series: 'Kostarika 01'
topic: 'Cestopis'

motto: 'Kostarika 01 - den příletu'
description: 'Když vás čeká několikahodinový přestup na letišti, je třeba se nějak zabavit. Vynalézavostí mně vlastní se mi podařilo vytvořit takovou situaci, že přestup utekl mrknutím oka.'
map: 'https://www.google.com/maps/d/embed?mid=17j5vrvF6rfP6C_LvALv9DrGoMDT6mT3z&hl=cs&ehbc=2E312F'
image: 'https://images.unsplash.com/photo-1611602316663-92dc58e199ed?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80'

tags:
- Amerika
- Kostarika
- 2021
---

<p>Jak si zkrátit několikahodinový přestup na Frankfurtském letišti na (pocitově) sotva pár minut? Je snad něco, co vám cestovky, obsluha letištního salónku a všichni instagramoví travel influenceři tají? Využijte zaručené tipy ostříleného cestovatele o několika málo krocích! A začněme hezky od začátku.</p>
<h3>Krok první: Nasaď si brouka do hlavy</h3>
<p>Celý proces je třeba začít už den předem, nicméně se zlatým pravidlem, že čím blíže odletu, tím většího efektu dosáhneme. Já využil momentu, že jsem byl Terkou vyslán pro poslední léky do večerní lékárny, zatímco ona sama opakovaně prováděla nájezdy na nezabalené věci, čítající krom oblečení také polní cestovní lékárnu a malý jídelní vůz, a vše se snažila vměstnat do jediné krosny. Pro případ, že by na léky byl doplatek, mi svěřila kreditní kartu i s pinem, který jsem si měl zapamatovat. O dvacet minut později jsem stál ve frontě, opakoval ta čtyři čísla a představoval si místo dlaždic tlačítka terminálu, na kterých už je zadávám. Při tom tvrdém soustředění se mi ale do mysli vkradla vtíravá myšlenka. Bylo to už rok a půl od doby, kdy jsem naposledy použil svou cestovní kartu… pamatuju si vůbec pin k ní? Myslím, že přece ano… nebo ne? Za kouknutí člověk nic nedá, žejo. A z vtíravé myšlenky byla rázem kaskáda špatných rozhodnutí.</p>
<h3>Krok druhý: Když to nejde napoprvé, zkus to znovu</h3>
<p>Mobilní aplikace cestovní karty totiž na rozdíl od mé hlavní banky nemá jednu zásadní funkci – zobrazení pinu přiřazené karty, lze ho v ní jen změnit. K jeho změně jsem však záhy potřeboval 6 místný pin do mobilní aplikace. Ten, který si nepamatuji, protože přihlášení a vše ostatní potvrzuji otiskem prstu. Nevadí, zkusíme to znovu, říkal jsem si po prvním neuspěšném pokusu. A už po třetím jsem si úspěšně zablokoval mobilní aplikaci. Ještě v metru jsem se rozhodl ji odblokovat, přece do internetového bankovnictví se dostanu i z mobilního prohlížeče. “A co heslo, znáš?”, ptá se záhy prohlížeč.</p>
<h3>Krok třetí: Když to nejde pořád, volej infolinku!</h3>
<p>Nu, odblokovávání internetového bankovnictví jsem už také dřív několikrát absolvoval (ano, ze stejného důvodu jako nyní). Vždy to byla víceméně 15 minutová formalita o pár krocích, říkal jsem si, zatímco jsem koukal na vykřičník na obrazovce. Co čert ale nechtěl, v 8 hodin večer dne před odletem přestal klasický způsob fungovat a vracel mě do stále stejné smyčky. “Při problémech s odblokováním se obraťte na bezplatnou infolinku.” Výborně, obrátím se tedy na infolinku, říkal jsem si. Akorát že ta právě skončila směnu.</p>
<h3>Krok čtvrtý: Přeměň nadbytek času na časový pres</h3>
<p>Po hodině snažení jsme došli k závěru, že se to bude muset stihnout na letišti při dvouhodinovém transferu ve Frankfurtu, jelikož to je poslední zastávka, kde budu mít možnost na infolinku volat v rámci eurozóny a kde si mohu vytvořit připojení přes mobilní data. Budík zazvonil v 3:45 a my vyráželi na letiště. Překvapivě vše proběhlo hladce, jen naše před-odletová tradice zůstala nenaplněna – kavárna, v níž si dáváme vždy před odletem kafe, v tuto dobu tvrdě spala. Let do Frankfurtu byl rychlý a příjemný, a jelikož jsme letěli s toutéž společností oba lety, nemuseli jsme ani řešit přesun zavazadel. Mohli jsme tak veškerý čas a energii věnovat odblokovávání mého bankovnictví. A že je bylo třeba.</p>
<h3>Krok pátý: Kafe, pot a adrenalin</h3>
<p>Po dvou kolech telefonátů, kdy jsem si v jednom vše odblokoval, a následným (správným!)  přihlášením vše znovu zablokoval, šestatřicátem kole bezpečnostních otázek a ověření, automatem diktovaných hesel k poskytnutí automatem diktovaného hesla, abych aplikaci mohl nadiktovat své heslo, kódů v emailu a sms s kódy ke kódům v emailu, bylo dokonáno. Seděl jsem zalitý potem, z uší mi zlehka doutnalo, a vítězoslavně jsem hleděl na odblokované bankovnictví, aplikaci a pro jistotu i změněný pin karty. Obrovský triumf kazila jen drobná vtíravá myšlenka, tedy že jsem si byl skoro jistý, že jsem si mezi tím vším vzpomněl na ten starý…</p>
<h3>Krok šestý: To už se nastupuje?</h3>
<p>Dvanáctihodinový let do San José se potom přes veškeré rozptylování neskutečně táhl. Za oknem většinu cesty jen modrý oceán, na sedačkách před námi sice obrazovky, ale v takové blízkosti, že jsme zvládli jen dva filmy, na ústech celou dobu respirátory, a spánku jsme přes všechno pohodlí také moc nedali. Na druhé straně personál letadla se o nás staral jako o děti takřka vlastní. Neustále nám nosili nějaké občerstvení, vodu a jiná pití, a samotný oběd bylo vysloveně luxusní tříchodové menu (byť velikosti jedné větší porce). Poslední části už jsme tradičně po česku strkali do batohu, jelikož jsme s ničím takovým nepočítali, a jídelní vůz se sám nesní.</p>
<p>Po výstupu ve tři hodiny odpoledne místního času nás však čekala jen další etapa shonu. Unavení a rozlámaní jsme čekali 2 hodiny ve frontě na imigraci. Vyzvedli zavazadla, již ponechaná spolu se všemi ostatními vlastnímu osudu na vypnutém pásu. Bojovali s bankomatem, který nejspíš bankomatem vůbec nebyl, jen abychom museli vybrat ve směnárně, protože stánek s místní SIM kartou bral jen hotovost, a jehož frontu jsme si tak vystáli hezky dvakrát.</p>
<p>Po čtyřech hodinách a s počínajícím stmíváním jsme konečně usedli do autobusu a mířili hodinovou cestou do San José. Města, kde se po setmění příliš nedoporučuje chodit venku, a už vůbec ne turistům. Odtud nás čekal buď drahý taxík, nebo vypětí všech posledních sil na přesun do hotelu, asi 30 min chůze od zastávky autobusu. Rozhodli jsme se pro druhé, a drželi se rušné hlavní třídy, i když to znamenalo delší cestu. Přítomnost vysokých plotů, mříží a leckdy až trojitých vrstev ostnatých drátů na střechách okolních domů nám dodávala překvapivé množství elánu spěchat, ne-li utíkat. Hnaní kombinací únavy, hladu a už tak zkoušených nervů jsme se dodrápali do hostelu a vítězně vítali postel. Byli jsme v Kostarice, v hostelu, živí a zdraví a neskutečně zničení. Když jsme usínali, nepřeřízený čas z České republiky ukazoval 3:43 ráno.</p>

    <script src="../../../../main.js"></script>
