---
layout: 'base.njk'
title: Kostarika 01
motto: Kostarika 01 - den příletu
author: Vojtofson
description: O tom jak jsme letěli neletěli
image:
imageAlt: Nevim asi letadlo
category: Cestopis
tags:
- Amerika
- Kostarika
- 2021
---

    <!BLOG POST>
    <section class="bg-white margin-top">
        <div class="container container-narrow">
            <div class ="column-single">

                <div class="title-container title">
<!TITLE>            <h1 class="text-center">Kostarika 01 - Den příletu</h1>
<!DATE>             <h3 class="text-grey no-margin">14.6.2022</h3>
                </div>

<!CONTENT>      <div>
                    <p>Začalo to popravdě už den před tím. Terka mne vyslala pro poslední léky do večerní lékárny, zatímco dobalovala své věci, a pro případ, že by na ně byl doplatek, mi svěřila kreditní kartu i s pinem, který jsem si měl zapamatovat. A jak jsem tak stál ve frontě, opakujíc si stále dokola ty čtyři číslice, a na dlaždicích si představoval, jak je vymačkávám na terminálu, vkradla se mi do mysli vtíravá myšlenka. Bylo to už rok a půl od doby, kdy jsem naposledy použil svou cestovní kartu… pamatuju si vůbec pin k ní? A z vtíravé myšlenky byla rázem kaskáda špatných rozhodnutí. </p>
                    <p>Mobilní aplikace cestovní karty na rozdíl od mé hlavní banky totiž nemá jednu zásadní funkci – zobrazení pinu přiřazené karty, lze ho jen změnit. K jeho změně jsem však záhy potřeboval 6 místný pin do mobilní aplikace. Ten, který si nepamatuji, protože se přihlašuji a vše ostatní potvrzuji otiskem prstu. A tak jsem si zablokoval mobilní aplikaci. Ještě v metru jsem se rozhodl ji odblokovat, přičemž k odblokování jsem obratem potřeboval heslo do internetového bankovnictví… </p>
                    <p>Nu, odblokovávání internetového bankovnictví jsem již dřív několikrát absolvoval (ze stejného důvodu jako nyní), a vždy to byla víceméně 15 minutová formalita o pár krocích, říkal jsem si, zatímco jsem koukal na vykřičník na obrazovce. Co čert ale nechtěl, v 8 hodin večer dne před odletem přestal klasický způsob fungovat a infolinka akorát skončila směnu. Po hodině snažení jsme došli k závěru, že se to bude muset stihnout na letišti při dvouhodinovém transferu ve Frankfurtu.</p>
                    <p>Budík zazvonil v 3:45 a my vyráželi na letiště. Překvapivě vše proběhlo hladce, jen naše před-odletová tradice zůstala nenaplněna – kavárna, v níž si dáváme vždy před odletem kafe, v tuto dobu tvrdě spala. Let do Frankfurtu byl rychlý a příjemný, a jelikož jsme letěli s toutéž společností oba lety, nemuseli jsme ani řešit přesun zavazadel. Mohli jsme tak veškerý čas a energii věnovat odblokovávání mého IB. A že je bylo třeba. </p>
                    <p>Po dvou kolech telefonátů, kdy jsem si v jednom vše odblokoval, a následným přihlášením mne to vrátilo o krok zpět a vše se znovu zablokovalo, šestatřicátem kole bezpečnostních ověření, automatem diktovaných hesel k poskytnutí hesla, abych si pro aplikaci mohl nastavit heslo, kódů v emailu a sms s kódy ke kódům v emailu, bylo dokonáno. Seděl jsem zalitý potem, z uší mi zlehka doutnalo, a vítězoslavně jsem hleděl na odblokované IB, aplikaci a pro jistotu změněný pin, byť si jsem si byl skoro jistý, že jsem si mezi tím vším vzpomněl na ten starý.</p>
                    <p>Dvanáctihodinový let do San José se potom přes veškeré rozptylování neskutečně táhl. Za oknem většinu cesty jen modrý oceán, na sedačkách před námi sice obrazovky, ale v takové blízkosti, že jsme zvládli jen dva filmy, na ústech celou dobu respirátory, a spánku jsme přes všechno pohodlí také moc nedali. Na druhé straně personál letadla se o nás staral téměř jako o vlastní, a neustále nám nosili nějaké občerstvení, vodu a jiná pití, a samotný oběd bylo vysloveně luxusní tříchodové menu (byť velikosti jedné normální porce). Poslední části už jsme po česku strkali do batohu, jelikož jsme s ničím takovým nepočítali, a potřebovali nejprve sníst vlastní zásoby.</p>
                    <p>Po výstupu místního času ve tři hodiny odpoledne nás však čekala jen další etapa shonu. Unavení a rozlámaní jsme čekali 2 hodiny ve frontě na imigraci, po ní vyzvedli zavazadla, již ponechaná spolu s ostatními vlastnímu osudu, bojovali s bankomatem, který nejspíš bankomatem vůbec nebyl, jen abychom museli vybrat ve směnárně, protože stánek s místní sim kartou bral jen hotovost, a jehož frontu jsme si tak vystáli hezky dvakrát. </p>
                    <p>Po čtyřech hodinách a s počínajícím stmíváním jsme konečně usedli do autobusu a mířili hodinovou cestou do San José. Odtud nás čekal buď drahý taxík, nebo vypětí všech posledních sil na přesun do hotelu, asi 30 min chůze od zastávky autobusu. Rozhodli jsme se pro druhé, a drželi se rušné hlavní třídy, jelikož se jinak turistům po setmění moc venku chodit nedoporučuje. Hnaní kombinací únavy, hladu a nervů jsme se dodrápali do hostelu a vítězně vítali postel. Byli jsme v Kostarice, v hostelu, živí a zdraví a neskutečně zničení. Když jsme usínali, nepřeřízený čas z České republiky ukazoval 3:43 ráno.</p>
                </div>

                <div class="tag-cloud margin-top">
                    <ul>
                        <li><a href="#">Kostarika</a></li>
                        <li><a href="#">Střední Amerika</a></li>
                        <li><a href="#">2020</a></li>
                    </ul>
                </div>
            </div>
            
        </div>

        
    </section>

<!GALLERY>

<!MAPA>
    <section class="bg-light small">
        <div class="container">
            <div class="column-single">
                <div class="text-center">
                <h1 class="text-dark">Odkud, kudy a kam?</h1>
                <p>Jedna mapa za tisíc slov!</p>
            </div>
                <iframe src="https://www.google.com/maps/d/embed?mid=17j5vrvF6rfP6C_LvALv9DrGoMDT6mT3z&hl=cs&ehbc=2E312F" width="100%" height="500"></iframe>
            </div>
        </div>
    </section>
    <script src="../../../../main.js"></script>