---
layout: 'post.njk'
title: 'Příští stanice... Holešovice?'
series: 'Berlín 01'
topic: 'Cestopis'

motto: 'Berlín 01 - Příští stanice... Holešovice?'
description: 'Prodloužený víkend v Berlíně, co se může stát? I když si myslíte, že se vše tak hezky povedlo a projednou máte při odjezdu klídek, nebojte, vesmír zařídí.'
map: ''
image: 'https://images.unsplash.com/photo-1597932552386-ad91621e4c8a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80'

tags:
- Evropa
- Německo
- 2022
---

<p>Je pravda, že od naší poslední mezikontinentální cesty neuplynulo ještě tolik času, ale nás už v každodenním stereotypu práce, práce a práce v podobě péče o domácnost zase začaly svrbět naše neposlušné nohy. Plán proto vznikl velmi snadno - prodloužený víkend v Berlíně, muzea, jídlo, památky a šup zas zpět. Rychlá a snadná akce, kýžený efekt zaručen. Stvrzeno šíleně výhodnou nabídkou ubytování, která se zčistajasna zjevila v seznamu výsledků, když jsem hledal, za kolik mi kde dají snídani. Lístky na flixbus na sebe nenechaly dlouho čekat, a než jsme se nadáli, seděli jsme a vyráželi z pražského Florence, směr Drážďany a Berlín. Akorát že… vůbec?</p>
<p>Pro úplnost doplňme vyprávění o fakticky přesné časové údaje. Vstáváme před osmou, abychom měli dostatek času a klid na snídani. Okolo půl po klidném ránu vyrážíme na Florenc, abychom měli dostatek času a klid na nástup. Další sled událostí zpomalme na minuty. 9:05, autobus vjíždí do stanice, kontroluje doklady, nakládá kufry. 9:10, autobus vyráží z brány autobusového nádraží, křižuje několik křižovatek a vjíždí na most k Holešovicím. 9:13, těšíme se do Berlína a radujeme se, jaký klid a dostatek času jsme tentokrát měli. 9:15, náš dvoupatrový Flixbus započíná výhybný manévr mezi domem a rozkopanou tramvajovou dráhou. 9:16, autobus bezděky o půl metru posouvá nešikovně zaparkované popelářské auto. </p>
<p>Za potlesku osazenstva rozlučky se svobodou, které obsadilo přední sedadla a už za tuto chvíli stihlo nechat kolovat alespoň placatku, se rozehrává podívaná, která jako by byla kombinací biblického výjevu a filmu Nezvratný osud. Zatímco na levoboku se německo-anglicky mluvící posádka Flixbusu snaží domluvit s pouze česky mluvící posádkou popelářského auta, zprava se snaží vyhýbat všechna ostatní vozidla prostorem, který zůstal mezi ztroskotaným vozidlem, sloupem elektrického vedení a stavbou. Posádka flixbusu  anglicky oznamuje, že budeme mít zpoždění. </p>
<p>Počty přítomných popelářů se rozrůstají, v tradičním pokusu o přimění cizince k porozumění česky jejich hlasitost mluvených slov stoupá, zatímco rychlost vyslovování klesá, komunikace se však nezlepšuje. Posádka Flixbusu oznamuje, že se bude čekat na policii. Zpravoboku se náhle ozývá troubení a brzdy. Tatrovka s jeřábem tak tak dobržďuje ve snaze otočit směr při výjezdu ze stavby. Rameno jeřábu končí necelých třicet centimetrů od bočního okna Flixbusu, o které měla z druhé strany do té doby opřenou hlavu naše sousedka v protější řadě sedadel. Mladík o řadu dál (kam by jeřáb úhlem býval pokračoval) nadává. Ne proto, že už se snad viděl houpat na kovovém háku, půlhodinové zpoždění už ho začíná znervózňovat kvůli navazujícímu spoji.
<p>Doráží policie, nemluví anglicky. Posádka Flixbusu oznamuje, že se čeká na člověka z centrály a náhradní autobus. Mezitím si s popeláři na střídačku nosí k vyplnění vzájemné papírové protokoly o nehodě - navzájem si však nerozumí. Česko-anglicky mluvící člověk z centrály po chvíli konečně doráží a snaží se zorientovat v dobrém tuctu přes sebe mluvících lidí na scéně. Autobusy Flixbusu projíždí kolem a zpomalují, jen co se ale vyhnou se všemi překážkami, boří všechny naděje a mizí v dáli. po hodině a čtvrt čekání prohlašuji, že jdu na záchod, protože kdo ví jak dlouho to bude trvat. Vtipně poznamenávám, že využiji svojí superschopnost - totiž, že kdykoliv čekáme libovolně dlouho na spoj nebo nějaký jiný proces, změna přijde vždy přesně ve chvíli, kdy zrovna odejdu. </p>
<p>Světe div se, funguje to! Zpět se už prodírám skrze oblečené cestující, připravené k přesunu do přistaveného náhradního autobusu. Terka mi to sice na oko vyčítá, že jsem zas pryč, zrovna když se to nejvíc nehodí, já ale vím, že je tajně ráda - přeci jinak bychom tu ještě seděli a kdovíjak dlouho dál čekali! Zabíráme stejná místa, autobus se rozjíždí. Se zpožděním okolo hodiny a tři čtvrtě opouštíme konečně hranice hlavního města a po pár hodinách i republiky. </p>
<p>Cestou nás čeká několik dalších nástrah - uzavřená ulice zastávky v Drážďanech, kde se autobus musí otočit do protisměru mezi domem a oploceným parčíkem, otočka na prvním Berlínském nádraží a trefa mezi jednotlivá zastřešená nástupiště na druhém. Klidu nám nepřidává zjištění, že pokračujeme se toutéž posádkou jako jsme vyrazili - pouze přebrali nové vozidlo. Při každém manévru tak zadržujeme dech a snažíme se odlehčit slovy, že tohle už jsme jednou viděli, vždy to však naštěstí na poslední chvíli dobře dopadá. Konečně vystupujeme a protahujeme si ztuhlé končetiny, dává se do nás ale docela rychle mráz. Do Německa spolu s námi zrovna dorazila i první pořádná studená fronta letošní zimy.</p>


    <script src="../../../../main.js"></script>
