---
title: "Série"
layout: 'base.njk'
motto: "Naše cesty"
permalink: /serie/
---

<section class="series bg-secondary">
  <div class="container">

    <h3>Nejnovější</h3>
    <div class="series-group">
        <a href="#">
            <div class="series-card">
                <img src="https://images.unsplash.com/photo-1597932552386-ad91621e4c8a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80">
                <div class="series-overlay">
                    <h3 class="series-title">Berlín</h3>
                    <h3 class="series-date">2022</h3>
                </div>
            </div>
        </a>

    </div>

    <h3>Amerika</h3>
    <div class="series-group">
        <a href="#">
            <div class="series-card">
                <img src="https://images.unsplash.com/photo-1597932552386-ad91621e4c8a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80">
                <div class="series-overlay">
                    <h3 class="series-title">Berlín</h3>
                    <h3 class="series-date">2022</h3>
                </div>
            </div>
        </a>

    </div>

    <h3>Asie</h3>
    <div class="series-group">
        <a href="#">
            <div class="series-card">
                <img src="https://images.unsplash.com/photo-1597932552386-ad91621e4c8a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80">
                <div class="series-overlay">
                    <h3 class="series-title">Berlín</h3>
                    <h3 class="series-date">2022</h3>
                </div>
            </div>
        </a>
    </div>

    <h3>Evropa</h3>
    <div class="series-group">
        <a href="#">
            <div class="series-card">
                <img src="https://images.unsplash.com/photo-1597932552386-ad91621e4c8a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80">
                <div class="series-overlay">
                    <h3 class="series-title">Berlín</h3>
                    <h3 class="series-date">2022</h3>
                </div>
            </div>
        </a>
    </div>




  </div>
</section>