---
layout: 'post.njk'
title: 'Hurá z velkoměsta!'

series: 'Kostarika 02'
topic: 'Cestopis'
motto: 'Kostarika 02 - Hurá z velkoměsta!'

description: 'Probouzíme se živí a zdraví, ale podstatně dřív, než bychom chtěli. Držte si klobouky, neboť dobrodružství začíná a autobusy nemají pevná okna!'

map: 'https://www.google.com/maps/d/u/0/embed?mid=1YHPWKgWpr9DjJ17nN6KvfglOi-O5VGve&ehbc=2E312F'
image: 'https://images.unsplash.com/photo-1628777249310-cb9a5d7fe734?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1631&q=80'

category:
- cestopis
tags:
- cestopis
- amerika
- kostarika
- 2021
---

<p>Jetlag je teda pěkná kravina. Probouzíme se do ztichlého šera už před sedmou, a při vší snaze zamhouřit ještě oči a alespoň ještě chvíli spát, jsme donuceni to vzdát. Únavu a přetrvávající rozlámanost však záhy přebíjí pocit natěšené radosti, že to přeci jenom nebyl všechno sen. Vyjídáme poslední poschovávané jídlo a dobroty z letadla a vyrážíme do víru velkoměsta shánět nové zásoby na přesun, co nás dnes čeká.</p>
<p>Venku nás vítá už modrá obloha a konejšivé sluneční paprsky, které zalévají budovy a stromy všude kolem, a odnáší i vzpomínky na strastiplný úprk minulé noci. Nic na tom nemění ani všudypřítomné vrstvy ostnatých a žiletkových drátů, a s vědomím, že hned za rohem od hostelu je policejní stanice, pozbýváme posledních obav. Jsme zpět ve svém elementu a plni optimismu, i když záhy zjišťujeme, že velkoměsto přes všechen svůj ruch vstává výrazně později než nedospalí turisté. Touláme se bezcílně kolem a kolem, vstřebáváme dojmy a bezvýsledně hledáme bankomat a jediný otevřený obchod.</p>
<p>Nakonec se obojí daří  a my dokončujeme přípravy na zhruba čtyřhodinový přesun autobusem z vnitrozemí do pobřežního městečka Uvita. Pěší přesun na terminál pod sílícím tropickým sluncem, s krosnou na zádech a menším batůžkem na prsou, se stává s každou minutou a každým krokem náročnějším, ale náš elán je silnější. Na autobusovém nádraží nás ale rázem překvapuje nejen míra, ale i striktnost dodržování proti-covidových opatření. 
<p>U vstupu na zastřešený, a stejně jako vše kolem oplocený terminál stojí nevlídně vzhlížející hlídač a zatvrzele každého obrací. “Ruce, máš? Umýt!”, sděluje španělsky každému, kdo to k umyvadlu nestáčí automaticky. “Umyto? Tumáš dezinfekcí!” - to už nesděluje, jen neverbálně gestikuluje ukázat ruce a rovnou nacvičeným pohybem střelce tasí od pasu lahvičku se sprejem. Tím ale jen připravuje třetí a poslední kolo kontroly, zatímco mezi tím vším hbitě odbíhá, mává a pokřikuje - na každého, komu sjede rouška pod nos, a na každého, kdo si dovolí přisednout k cizímu a nevynechá alespoň jednu židli.</p>
<p>Propocení z přesunu i ze zmatku a shonu kontrolního procesu si měříme u vysokého kovového stojanu teplotu. Terka prochází v klidu, mě teploměr ani napotřetí nebere. Hlídač zamrzá v nedokončeném pohybu. Chvíli si mě prohlíží, pak si ve zpomaleném záběru protahuje krční páteř a vyráží. Usilovně nastavuji k sondě vše, čím k ní dosáhnu. Začínám cítit, jak mi panikou začíná hořet obličej. Když je hlídač sotva pár kroků ode mě, stroj se konečně chytá. Mám svých klasických 35,7°C a téměř skokem mizím za vstupní závorou. Hlídač se spokojeně vrací na svůj post, a okamžitě vykazuje k umyvadlu nově příchozí.</p>
<p>V samotném autobuse nás mile překvapuje systém přepravy zavazadel - podobně jako v letadle nám řidič vystavuje lístky, z nichž polovinu nalepí kolem ucha batohu, a druhou polovinu dostáváme my, abychom se s ní o batoh přihlásili. Řidič je ještě třídí podle destinací, my obdivujeme podivná boční okna, která se posunutím otevírají po celé výšce, a jede se. Na první zastávce u občerstvovacích stánků a trhovců nás potkává naše první setkání s kostarickým obdobím dešťů, a zanechává v nás velký dojem - dal by se přirovnat k takové opravdu velké automyčce. Po chvíli naštěstí mytí ustává, a před námi se otevírá ta neskutečně zelená krajina, kvůli které jsme sem přijeli, období dešťů navzdory.</p>
<p>Výstup v Uvitě je potom, jak už je naším dobrým zvykem, netradiční. Co jsme totiž ještě nevěděli, je fakt, že autobusy v Kostarice nejezdí úplně od zastávky k zastávce, ale staví tam, kde si lidé požádají pomocí zatahání za provázek, který se táhne podél nadhlavního zavazadlového prostoru, nebo podle oken. A vlastně by nám to bývalo ani nepomohlo, chtěli jsme vystupovat v tom jediném místě, kde zastavit pořádně nešlo. Naštěstí na samém okraji naší destinace probíhá další zastávka na občerstvení, což nám dalo možnost poradit se za pomoci našeho omezeného slovníku s pouze španělsky mluvícím řidičem. </p>
<p>Kombinací španělštiny, angličtiny a posunků končetin se dozvídáme, že buď vystoupíme teď, a nebo v dalším městě. Volíme tedy toto město a raději další pěší pochod několika kilometrů podél rušné hlavní silnice. Po chvíli se ale už noříme do menších ulic klidné Uvity, která spíše než město připomíná větší vesnici. Zchvácení sluncem v nadhlavníku na nic nečekáme, a ihned po ubytování sebou plácáme do přístupného bazénu tak rychle, že se tak tak stiháme převléct do plavek. Je sice také víc než vlažný, ale pro nás božský.</p>
<p>Uvita je přitom přesným opakem zběsilého ruchu a shonu velkoměstského San José. Pár poschovávaných obchodů, občanská vybavenost spíše u dopravních odpočívadel podél hlavní silnice, která Uvitu úplně míjí, sem tam nějaký podnik a jeden národní park. Člověku by se chtělo obrazně říct, že tu doslova chcípl pes, ale psi tady překvapivě běhají na každém kroku. Úplně volně, a na rozdíl od Asie s obojkem, majitelem a dobrou stravou. To je přístup, který, jak jsme také později zjistili, platí i pro zbytek země a bude nás ještě opakovaně mile překvapovat. Ale o tom opravdu později. </p>
<p>Opravdovým důvodem, proč jsme se rozhodli odstartovat svou tour de Kostarika právě zde, je právě onen národní park, Marino Ballena. Na první pohled malý parčík chránící kousek lesa a o něco větší plážový výběžek ve tvaru velrybího ocasu totiž chrání daleko rozsáhlejší  pobřežní oblast a přilehlé moře, a ne z ledajakého důvodu. V době, kdy jsme Uvitu navštívili, sem totiž každoročně připlouvají keporkaci, aby se v bezpečné a mělké zátoce velrybího ocasu spářili a vychovali mladé, dokud nebudou dost velcí a dostatečně připraveni na světové oceány. A to jsme si nemohli nechat ujít.</p>

    <script src="../../../../main.js"></script>
