---
layout: 'post.njk'
title: 'Malý výlet na velké ryby'

series: 'Kostarika 03'
topic: 'Cestopis'
motto: 'Kostarika 03 - Malý výlet na velké ryby'

description: '“Já mám kocábku náram-náram-náram, já mám kocábku náram-náram-jůů! Hele mámo, velryba!” To by si asi zpívala holčička na zádi, kdyby neměla mořskou nemoc…'

map:
image: 'https://images.unsplash.com/photo-1628777249310-cb9a5d7fe734?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1631&q=80'

category:
- cestopis
tags:
- cestopis
- amerika
- kostarika
- 2021
---

<p><i>Biologům všech směrů a všem dobrým lidem, co prošli alespoň povinnou školní docházkou, se jménem naší putovní společnosti tímto omlouvám za titulek a jeho lživý výraz pro velrybu.</i></p>
<p>Ačkoliv neholdujeme organizované zoo-turistice, a už na recepci odmítáme okamžitou nabídku, že by nás mohl povozit zalevno kolem a kolem kamarád naší domácí, a volíme místní drahou, ale extrémně kladně hodnocenou agenturu Bahía Aventuras. Regule pro národní parky, průvodce a ochranu životního prostředí jsou totiž v Kostarice velmi rozumně přísné, a my chceme mít určitou míru jistoty, že podpoříme podnik, co se chová zodpovědně, byť to bude větší výdaj. A že taky něco uvidíme.</p>
<p>Současně nám totiž v ceně zůstane možnost zůstat v národním parku i po organizovaném výletě, a během hodiny a půl nám mají ukázat daleko více než jen velryby a s certifikovaným výkladem k tomu. O den později nás vítají u kafe a občerstvení, kdybychom náhodou nestihli snídani (stihli, ale my hobiti rádi i druhou snídani!), zatímco vysvětlují, jak to u nich na lodi chodí. Následuje přesun k parku, kde nás pro absenci auta veze jeden z průvodců vlastním.</p>
<p>Národní park samotný je dechberoucí. Po krátkém průchodu porostem se před námi otevírá dlouhý zákrut pláže, jehož hranice vytyčuje na jedné straně hustý pralesní porost, pokrývající všechny kopce a hory, a z druhé strany nekonečný oceán. Ranní slunce ze stromů odpařuje vlhkost a kopcovitá okolní krajina tak střídavě mizí a zase se objevuje, jako by k ní její nejvyšší vrcholky vůbec nepatřily a vyrůstaly rovnou z oblaků. Kam oko dohlédne, to je jako vystřižené z Jurského Parku, jen teda bez těch dinosaurů.</p>
<p>S malou skupinkou turistů brodíme po stehna ve vodě k zastřešenému člunu a vyrážíme na moře. Průvodce se ujímá mikrofonu a ještě jednou opakuje, jak bude naše hledání probíhat, jak poznáme, že jsme velryby našli, a jak se v takovém případě budeme jako loď dál chovat. Volně navazuje výčtem faktů o velrybách všech tvarů a velikostí, a že máme velkou šanci nějaké vidět, jelikož mláďata nedokážou ještě zadržet dech a musí tak v doprovodu matky co pár minut vyplout na hladinu. Mezitím nás na falešném (ale šťastlivém) cíli, mořské želvě, učí lodnímu systému. Tedy že: vynoří-li se velryba na pravoboku, pravá strana člunu poslušně sedí a fotí, zatímco levá fotí ve stoje.Vynoří-li se jiná na levoboku, levá strano sednout, pravá vztyk! Všichni vidí, všichni fotí, loď se nepřeklápí. No není to úžasné?</p>
<p>Mile nás překvapuje i systém ochrany přírody, která se k tomu váže, a že ji posádka se vší vážností dodržuje. Lodí smí v oblasti parku na moře ve stejnou chvíli jen omezené množství. Při spatření velryby pak v dostatečné vzdálenosti zastaví, tak daleko, aby je nijak nevyrušily, a už k nim jen na tichý chod pomalu natáčí první a druhý bok. Kapitáni mezi sebou komunikují vysílačkami, a to i o velrybích náladách, podle kterých plavbu přizpůsobují. Když se potom lodí na jednom místě sejde víc, ty, co tam byly nejdéle, vyráží dál, aby velryby dále nezatěžovaly přebytkem pozornosti. </p>
<p>Nemusím nijak zdlouhavě konstatovat, že vidět naživo velryby v jejich přirozeném prostředí je nezapomenutelný zážitek. Zvlášť, když ta věc o skoro dvojnásobné délce než náš člun, co se právě napravo vynořila, bylo jen mládě. A že ta dvojnásobná hned vedle, byla jen část obrovského hřbetu jeho matky. Některé nám mávají ocasy, jiné vystrkují čumáky a často se ohlašují hlasitým frkáním vody do vzduchu. Po chvíli je ale na čase přenechat těch několik párů ostatním lodím a vyrazit od zátoky na druhou stranu.</p>
<p>Naším cílem jsou nyní různé vodou vyhlodané jeskyně v přímořských skaliscích, z níchž i ty nejnehostinější jsou přesto dokonale obalené stromy a rostlinami. Jmenovitě pak lze zmínit “sloní jeskyni”, v jejímž tvaru teda zatím všichni uviděli slona až ve chvíli, kdy jim o něm řeknete, a “velrybí ostrov”, který s velrybami nemá pranic společného. Namísto nich je totiž domovem celých hejn mořských ptáků, které se sem podobně jako velryby stahují a v jeho bezpečí hromadně hnízdí. Jak by řekl Brit, blízko dost.</p>
<p>Koupání na otevřeném moři s poděkováním vynecháváme - nevím jak vás, ale mě ta dokonale matná masa otevřené vody, kde, jak jsme před chvílemi sami viděli, může být hned pod hladinou dokonale skrytý jakýkoliv obr, stresuje. Namísto toho chceme využít zbytku slunečného dne na úchvatné pláži národního parku. I zde se ale koupáním příliš nezdržujeme. Čas pokročil, a už ve 14 hodin se výběžek ve tvaru velrybího ocasu začne ztrácet ve stoupajícím přílivu, dokud z něj nezbyde jen malý ostrůvek skalisek na jeho konci.</p>
<p>Příliv ale není náš jediný nepřítel. Spalující odpolední slunce náhle střídá závan studeného vzduchu, sestupující oblaka a stále častější zlověstné hřmění nad horami. Společně věští příchod deště. Postupně začíná ubývat lidí v parku, potom i lodí v zátoce a když už i traktorů, co lodě tahají z mělčiny do bezpečí pralesa, říkáme si, že nastal čas v nejlepším odejít. Brzké provazy padající vody, které neustávají až do dalšího rána, nás v tom dostatečně utvrzují.</p>

    <script src="../../../../main.js"></script>
