@import url('https://fonts.googleapis.com/css2?family=Kurale&family=Milonga&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{
  --bg-primary: hsl(0, 0%, 100%);
  --bg-secondary: hsl(0, 0%, 97%);
  --action-primary: hsl(214, 32%, 91%);
  --action-secondary: hsl(210, 38%, 95%);
  --clr-primary: hsl(218, 23%, 23%);
  --clr-secondary: hsl(216, 15%, 52%);
  --clr-tertiary: hsl(214, 20%, 69%);
  --accent: hsl(229, 76%, 66%);
  --accent2:#c7864c;
  --white: hsl(0, 0%, 100%);

    --fs-base: 0.85rem;
    --fs-1: 1.875rem;
    --fs-2: 1.5rem;
    --fs-3: 1.25rem;
    --fs-4: 0.875rem;
    --fs-5: 0.75rem;
    --py: 5rem;
  
  --fw-900: 900;
  --fw-700: 700;

  --fnt-logo:'Milonga', cursive;
}

html{
      font-size: var(--fs-base);
    line-height: 1.8;
    font-family: "inter", sans-serif;
    color:var(--clr-primary);
    scroll-behavior: smooth;
}


*, ::after, ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    font: inherit;
    border: none;
    background: 0 0;
    cursor: pointer;
}

button, img {
    display: block;
}

a{
  text-decoration:none;
  color:inherit;
}

:focus { outline-offset: 4px; }

/*COLORS*/
.bg-primary{
  background: var(--bg-primary);
}

.bg-secondary{
  background: var(--bg-secondary);
}

.bg-dark{
  background: var(--clr-primary);
}

.shadow{
  box-shadow: 0 10px 10px hsl(0deg 0% 0% / 5%);
}

/*FONTS AND TEXT*/

p{
  margin:0;
}

h1{
  font-weight:var(--fw-800);
  font-size: 3rem;
  font-family:"Kurale", serif;
  font-variant: small-caps;
}

h2{
  font-size: var(--fs-2);
  margin-top: 3rem;
}

h3{
font-size: var(--fs-3);
margin-top: 2rem;
}

h2, h3 {
font-weight: var(--fw-700);
}

.title{
  font-size: 3rem;
  text-align:center;
  margin-bottom:3rem;
  line-height:1.2;
}

.text-center{
  text-align: center;
}

/* Building blocks*/

section{
  padding:5rem 15px;
}

section:first-of-type{
    padding-top: 130px;
}

section.large{
  padding-top:5rem;
  padding-bottom:5rem;
}

.section-title{
  line-height:1;
  margin-bottom:3rem;
}

.container{
  margin-inline: auto;
    margin: auto;
    padding: 0 15px;
}

.anchor {
  position: absolute;
  transform: translateY(-30vh);
}

/*HEADER*/
header .container{
  display:grid;
  grid-template-columns: 1fr 1fr;
  align-items:center;
  padding: 15px;
  height:90px;
}

header {
  position:fixed;
  width:100%;
  background-color:var(--bg-primary);
  color:var(--accent2);
  font-family:'Kurale', sans-serif;
  font-variant:small-caps;
  font-size:var(--fs-2);
  letter-spacing:1px;
  box-shadow: 0 10px 10px hsl(0deg 0% 0% / 5%);
  transition: all 0.4s ease 0s;
  
}

header a{
  line-height:1;
}

header a:hover{
  color:var(--clr-primary);
}

nav .motto, .nav-links{
  display:none;
}

.primary-logo{
  font-family: var(--fnt-logo);
  font-size:3rem;
  font-variant:small-caps;
  cursor: pointer;
}

.landing-header{
  background-color: transparent;
  color:var(--bg-primary);
  transition: all 0.2s ease 0s;
  box-shadow: none;
}

.landing-header a:hover{
  color:var(--accent2);
}

.logo-text-hidden{
  display:none;
}

/*LANDING PAGE*/

.landing-bg {
  top:-90px;
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
  height: 100vh;
}


/*FEATURED POSTS*/
.featured h3{
  text-align:center;
  margin-bottom:1rem;
  color:var(--clr-secondary);
}

.featured .container{
  gap:15px;
}

.featured-card{
  display:grid;
  grid-template-rows:1fr auto;
  
  background-color:var(--bg-primary);
  padding:15px;
  border-radius:10px;
  box-shadow: 0 10px 10px hsl(0deg 0% 0% / 5%);  
}

.featured-card h3{
  margin:0;
  margin-top:15px;
  padding: 0px 5px;
  color:var(--clr-primary);
}

.featured-banner{
  display:block;
  width:100%;
  overflow:hidden;
  aspect-ratio:16/9;
  border-radius:5px;
  background-color:var(--bg-secondary);
}

/*BLOG CARDS*/

.blog .h2{
  padding: 2.5rem;
  text-align: center;
}

.blog-card-group{
  margin-bottom:3rem;
}

.blog-card{
    background: var(--bg-primary);
    padding: 10px;
    margin-bottom: 1rem;
    border-radius: 10px;
    box-shadow: 0 10px 10px hsl(0deg 0% 0% / 5%);
    transition: .25s ease;
}

.blog .wrapper {
  display: flex;
  flex-direction:row;
  align-items: center;
  gap: 15px;
}

.blog-topic {
    background: var(--action-secondary);
    color: var(--clr-secondary);
    font-weight: 600;
    padding: .25rem 1rem;
    border-radius: 5px;
    align-self: flex-start
}

.blog-topic:hover{
  background: var(--action-primary);
}

.blog-date {
  font-size:0.875rem;
    color: var(--clr-tertiary);
}

.blog-card .h3 {
    line-height: 1.4;
    margin-bottom:1rem;
}

.blog-card .tag-list {
  display:flex;
  flex-wrap:wrap;
  flex-direction:stretch;
  gap:5px;
  list-style:none;
  margin:0;
  padding: 0;
}

.blog-card .blog-cta{
  display:none;
}

.blog-card-banner, .blog-card-text{
  display:none;
}

.blog .tag-list li{
  background: var(--action-secondary);
  color: var(--clr-tertiary);
  font-size:0.875rem;
  font-weight: 500;
  padding: .20rem 0.25rem;
  border-radius: 5px;
}

.blog .tag-list li:hover{
background: var(--action-primary);
}

.blog-card-content-wrapper{
      padding: 10px 5px;
      display:flex;
  flex-direction:column;
  justify-content:space-between;
}



/*BLOG SIDEBAR*/

.aside{
  display:none;
}

.aside .h2{
  padding: 2.5rem;
  text-align: center;
}

.tags .wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: .2rem;
}

.hashtag {
  background: var(--action-primary);
  color: var(--clr-secondary);
  padding: 5px 10px;
  font-size: var(--fs-5);
  font-weight: 700;
  border-radius: 5px;
}

/*POST*/
section.post{
  margin-inline:15px;
}

section.post::after{
  margin-top:0;
}

.post .container{
  border-radius: 10px;
  padding:15px 30px;
  box-shadow: 0 10px 10px hsl(0deg 0% 0% / 5%);
  margin-top:3rem;
  margin-bottom:3rem;
}

.post-head{
  margin:3rem auto;
  display: flex;
  flex-direction:column;
  align-items:center;
  margin-bottom:5rem;
}

.post-head h1{
  margin: 0 2rem;
  text-align:center;
  line-height:1.4;
}

.post .wrapper{
  display: flex;
  flex-direction:row;
  gap:5px;
  align-items:center;
  justify-content:flex-end;
}

.post-series{
  font-size:2rem;
}

.spacer{
  background-color:var(--clr-tertiary);
  width:100%;
  height:1px;
  margin:15px auto;
  border-radius: 1px;
}

.post-date {
    background: var(--bg-primary);
    color: var(--clr-tertiary);
    font-weight: 400;
    padding: .25rem 1rem;
    border-radius:5px;
}

.post p{
  margin-bottom:1.8rem;
}

.post h2, h3{
  margin-top: 1rem;
}

section.post-map{
  padding-top:1rem;
}

.map-title{
  text-align:center;
  margin-bottom:3rem;
}

.map{
  margin:0 auto;
  width:100%;
  aspect-ratio:4/3;
}

/*FOOTER*/

footer {
    background: var(--bg-primary);
}

footer .container {
    padding: var(--py) 15px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
}

footer .primary-logo {
  font-family: var(--fnt-logo);
  font-size: var(--fs-900);
  letter-spacing: 4px;
  cursor:pointer
}

.footer-logo {
    margin-bottom: 10px;
}

.footer-text {
    color: var(--clr-secondary);
    max-width: 300px;
    margin-inline: auto;
    margin: auto;
}

footer ul{
    list-style:none;
}

.footer-title {
    color: var(--clr-primary);
    font-weight: 700;
    margin-bottom: .4rem;
}

.footer-link {
    color: var(--clr-secondary);
}

.footer-link:hover{
    color: var(--clr-primary);
}



/*TABLET SMALL / MIN-WIDTH 550px*/
@media (min-width:550px){
  :root {
    --fs-base: 0.90rem;

  }

  .featured-card{
    display:grid;
    grid-template-rows:none;
    grid-template-columns: 2fr 3fr;
    gap:30px;
    align-items:center;
  }
  
  .featured-card h3{
    text-align:left;
    margin-top:0;
  }

  .blog-card{
    display:grid;
    grid-template-columns: 3fr 4fr;
    gap:20px;
  }
  
  .blog-card-banner {
    display: block;
    overflow: hidden;
    border-radius: 5px;
  }
  
  .blog-card-banner img {
    display:block;
    width:100%;
    max-height: 250px;
    object-fit: cover;
  }

  .map{
    aspect-ratio:16/9;
  }
}


/*TABLET LARGE / MIN-WIDTH 650px*/

@media (min-width:650px){
  :root {
    --fs-1: 2.25rem;
  }

  .container{
    padding: 0 30px;
    }

  .blog .h2::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      background: var(--action-primary);
      width: 5px;
      height: 100%;
      border-radius: 5px;
  }

.blog-card-text{
color: var(--clr-secondary);
  font-size: var(--fs-4);
  display: -webkit-box;
  line-clamp: 3;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.blog-card .blog-cta{
display:block;
align-self: flex-start;
color:var(--clr-primary);
font-weight:500;
margin-bottom:1rem;

}
.blog-card .blog-cta:hover{
  color:var(--clr-primary);
}

  footer .container {
  padding: var(--py) 30px;
  grid-template-columns: 2fr 1fr 1fr;
  }

  .footer-text {
      margin: 0;
  }
}


/*LAPTOP / MIN-WIDTH 768px*/

@media (min-width:768px){
  section{
    padding:7rem 15px;
  }

  .container{
  max-width:800px;
  }
  
  .nav-links{
  display:flex;
  flex-direction:row;
  justify-content: flex-end;
  gap:2rem;
}

  .post-content{
   padding-inline:30px;
  }

  .featured .container{
    display:grid;
    grid-template-columns: repeat( auto-fit, minmax(200px, 1fr));
  }
  
  .featured-card{
    display:block;
  }
  
  .featured-card h3{
    margin-top:15px;
    text-align:center;
  }
}


/*DESKTOP / MIN-WIDTH 1024PX*/

@media (min-width: 1024px){

  :root {
    --fs-base: 1rem;
    --fs-1: 3rem;
  }

  .container{
    max-width: 1150px;
  }

  .container.side-column{
    display: grid;
    grid-template-columns: 5fr 2fr;
    gap: 60px;
  }

  .container.one-column{
    max-width: 900px;
  }

  .container.two-column{
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap:30px;
    align-items:center;
    max-width:980px;
  }
  
  header .container{
   grid-template-columns: 1fr 1.5fr 1fr;
   max-width:90%;
  }
  
   nav .motto{
  display:block;
  text-align:center;
}
  
  .aside{
    display:block;
  }
  
  .aside .h2 {
    color: var(--clr-secondary);
  }

  .aside .wrapper {
    background: var(--bg-primary);
    border-radius: 10px;
    padding: 40px;
    box-shadow: 0 5px 5px hsl(0deg 0% 0% / 5%);
  }

  .topic-btn {
      display: flex;
      align-items: stretch;
      background: var(--bg-primary);
      border-radius: 10px;
      box-shadow: 0 5px 5px hsl(0deg 0% 0% / 5%);
      overflow: hidden;
  }

  .topic-btn:not(:last-child) {
    margin-bottom: 1rem;
  }

  .topic-btn .icon-box {
    font-size: 22px;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--action-primary);
    color: var(--clr-secondary);
}

.topic-btn p {
  padding: 15px;
  color: var(--foreground-secondary);
  font-weight: 700;
}

.featured .container{
  gap:30px;
}

}

.no-decoration ul, a{
  list-style:none;
  text-decoration:none;
}


