---
title: Blog - Broučkopisy
layout: 'article-list.njk'
motto: Nejnovější příspěvky
---
<section class="article-list bg-secondary">
  <div class="container side-column">
  
    <div class="blog"><h2 class="h2">Nejnovější příspěvky</h2>
        <div class="blog-card-group">
        
        {% for post in collections.post | reverse %}
            <div class="blog-card">

                <div class="blog-card-banner">
                    <a href="{{ post.url }}"><img src="{{ post.data.image }} alt="{{ post.data.imageAlt }}""></a>
                </div>

                <div class="blog-card-content-wrapper">
                    <div class="wrapper">
                        <button class="blog-topic">{{ post.data.topic }}</button> 
                        <p class="blog-date">{{ post.date | postDate }}</p>
                    </div>

                    <h3 class="h3"><a href="{{ post.url }}">{{ post.data.series }} - {{ post.data.title }}</a></h3>
                    <p class="blog-card-text">{{ post.data.description }}</p>

                    
                </div>
            </div>
        {% endfor %}


        </div>
    </div>

    <div class="aside">
      <div class="topics">

        <h2 class="h2">Kategorie</h2>

        <a href="#" class="topic-btn">
          <div class="icon-box">
            <ion-icon name="book-outline" role="img"></ion-icon>
          </div>
          <p>Cestopisy</p>
        </a>

        <a href="#" class="topic-btn">
          <div class="icon-box">
            <ion-icon name="information-outline" role="img"></ion-icon>
          </div>
          <p>Cestotipy</p>
        </a>

        <a href="#" class="topic-btn">
          <div class="icon-box">
            <ion-icon name="earth-outline" role="img"></ion-icon>
          </div>
          <p>Kontinenty</p>
        </a>

      </div>
      <div class="tags">

        <h2 class="h2">Tagy</h2>

        <div class="wrapper">

          <button class="hashtag">#Tag</button>
          <button class="hashtag">#Taky Tag</button>
          <button class="hashtag">#Hele taky tag</button>
          <button class="hashtag">#Dlouhatánckej tag</button>
          <button class="hashtag">#Toto není tag</button>
          <button class="hashtag">#Ledaze by to tag byl</button>
          <button class="hashtag">#Tagatag</button>
          <button class="hashtag">#Tag Tagit Tag</button>

        </div>

      </div>

    </div>
  </div>
</section>
