---
title: Broučkopisy
layout: 'article-list.njk'
motto: Cesty, jídlo, dobrodružství, kočičky
---
<!LANDING IMG>
<div style="background-image: url('/assets/BG-img.jpg');" class="landing-bg"></div> 

<span class="begin" id="begin"></span>

<section class="bg-primary">
    <div class="container one-column">
        <div class ="text">
            <h1 class="text-center section-title clr-accent">Vítejte, cestychtiví broučci!</h1>
            <P>Zabloudili jste na osobní projekt dvou broučků, kteří na vzdory větru, dešti, hladu a zdravému úsudku svých rodin vyrazili objevovat svět. A ač na to možná na první pohled nevypadáme, nezdráháme se opustit mateřský kontinent, vyrazit přes půl světa daleko a měsíc cestovat po své ose. Od začátku našich cest nás tak vítr zavál do Singapuru, Indonésie, křížem krážem veřejnou dopravou napříč Kostarikou a brzy mnohem dál.</P>
            <h3>Co si klademe za cíl s tímto webem? Vlastně nic.</h3>
            <P>Jde o místo ke sdílení našich dobrodružství, lapálií a příhod, které nás na cestách potkaly. Namísto několika-hodinových seminářů s fotkami tak naši přátelé a rodina budou moci podklady studovat již předem, a celý proces se urychlí! No není to úžasné, Horste? Bohužel, jak to tak bývá, i my (dobře, ano já) jsme rození prokrastinátoři, a tak pro okolnost, co nás od psaní odradí, to nebývá daleko. Pokud tedy očekáváte pravidelný přísun obsahu, budeme vás muset zklamat. Běžte při čekání okukovat destinace na Instagram, YouTube nebo Netflix, a nebo se pusťe na cesty po své ose a napište si blog sami!</P>
            <h3>Budete se bavit? Určitě-jasně-teda-snad-asi-možná</h3>
            <p>Zkuste vyrazit po stopách některé z našich cest do neznáma a uvidíte, zda se budete popadat za břicho nebo lomcovat rukama tak, jak to dělávaly naše babičky. Ty už se nám trochu vycvičily, takže na pozice hořekujících katastrofo-vidů jsou místa volná!</p>
        </div>
</section>

<section class="featured bg-secondary">
    <h1 class="section-title text-center">Kde začít?</h1>
    <div class="container">
         
      <div><h3>Poslední cestopis</h3>
        <div class="featured-card">
          <div class="featured-banner">
            <a href=""><img src=""></a>
          </div>
          <div>
            <H3><a href="">Kostarika 01 <br> Nejkratší přestup v dějinách</a></h3>
            
          </div>
        </div>
      </div>
    
      <div><h3>Poslední cestotip</h3>
        <div class="featured-card">
          <div class="featured-banner">
            <a href=""><img src=""></a>
          </div>
          <div>
            <H3><a href="">Titulek</a></h3>
          </div>
        </div>
      </div>
      
      <div><h3>Poslední série</h3>
        <div class="featured-card">
          <div class="featured-banner">
            <a href=""><img src=""></a>
          </div>
          <div>
            <h3><a href="">Titulek</a></h3>
            
          </div>
        </div>
      </div>
    
    </div>
  </section>

<!ABOUT>
<section class="bg-primary large ">
  <span class="anchor" id="about"></span>
  
    <div class="container two-column">
      <div>
        <h1>Kdo jsme?</h1></div>
            <div>
              <p>Já jsem Vojtofson, syn Drahomírovsona, pán všech moří a lesů a vůbec. Ona je Terka, plavovlasá válečnice ze severu (západu) Prahy. Společně brázdíme všechna moře, všechny lesy. Naše tempo je nějaké a jindy zase úplně jiné. Našimi nepřáteli jsou hlad, zmatky ve značení a bohové deště. Ve dne jíme, v noci spíme.</p></div>
        </div>
</section>

<!WHERE MAP>
<section class="bg-secondary">
    <div class="container one-column">
            <h1 class="section-title text-center">Kde už jsme se toulali?</h1>
    </div>
</section>

<script src="main.js"></script>
